<h3>Lab 2</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-danger" (click)="filtrareDire()">Filtrare directionala</button>
  <button type="button" class="btn btn-primary" (click)="inversareContrast()">Inversare contrast</button>
  <button type="button" class="btn btn-success" (click)="scale()">Scale</button>
</div>
<div class="form-group nrPixels">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">w or f</div>
    </div>
    <input type="text" class="form-control" [(ngModel)]="w">
  </div>

</div>
