<h3>Lab 2</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-primary" (click)="getDifferences()">Scade imaginile</button>
  <button type="button" class="btn btn-warning" (click)="getGaussian()">Gaussian</button>
  <button type="button" class="btn btn-success" (click)="getPixelate()">Pixelate</button>
</div>
<div class="form-group nrPixels">
  <input type="text" class="form-control" [(ngModel)]="nrPixels" placeholder="Nr pixels">
</div>
