.image {
  max-height: 500px;
}

.secondImage {
  margin-left: 10px;
}

.images {
  height: 500px;
}

.secondOriginalImage {
  max-height: 500px;
}

.btn-spaces {
  margin-top: 50px;
}

.hidden {
  display: none;
}

.when-second-image-hidden {
  padding-left: 30px;
}
